@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  -webkit-print-color-adjust:exact;
  -webkit-filter:opacity(1);
}
* {
  /*vertical-align: bottom;*/
}
.card {
  /* 63 x 88 */
  width: 63mm;
  max-width: 63mm;
  height:  88mm;
  max-height:  88mm;
  /*border:  0mm solid black;*/
  padding-left:  0px;
  display:  inline-block;
  vertical-align: bottom;
  position: relative;
  font-size: 7mm;
  font-family: 'Roboto Slab', serif;
  /*font-family: serif;*/

  /*so that \n triggers a new line*/
  white-space: pre-wrap;

  /*0.5px for printing, 1.0px for coding*/  
  margin:  10px;
}

@media print {
  .card {
    margin:  0.5px;  
  }
}

