.icon {
  display: inline-block;
  position: relative;
}
.icon img {
  height: 100px;
  position: relative;
}
.icon .number {
  font-size: 57px;
  display: inline-block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 9%;
  font-weight: 600;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.icon.draw .number {
  bottom: 17%;
}

.icon.point .number {
  bottom: 20%;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 55px;
}
.icon {
/*  max-height: 10px;*/
}

.icon {
  transform: translateY(10%);
}

.cost-resource {
  font-size: 30px;
  border-bottom: 2px dashed black;
}


.cost-resource .icon {
  zoom: .32;
/*  transform: translateY(10%);*/
  margin-left: 10px;
}

.cost-resource .points-container {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.points-container .icon.point {
  zoom: .28;
  margin-right: 5px;
}

.tap {
  width: 100%;
/*  background: red;*/
  position: relative;
  margin-top: 10px;
/*  min-height: 43px;*/
  background-color: #ddd;
}

.tap-icon-container {
  width: 20%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.tap .icon {
  zoom: .25;
}

.tap-gain-container {
  font-size: 20px;
  width: 79%;
  height: 100%;
/*  position: absolute;*/
  margin-left: 20%;
/*  background: blue;*/
  display: inline-block;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-left: 1px solid black;
}

.passive-item {
  margin-top: 10px;
  padding: 3px 7px 5px;
  border-left: 10px solid;
/*  border-bottom: 1px solid;*/
/*  border-top: 1px solid;*/
}
.passive-item.invite {
  border-color: #fb5607;
  background-color: #fb560720;
}
.passive-item.recruit {
  border-color: #8338ec;
  background-color: #8338ec20;

}
.passive-item.construct {
  border-color: #5c8001;
  background-color: #5c800120;
}
.passive .icon {
  zoom: .2;
}

.qualifier-text {
  display: block;
  line-height: 1.2em;
  font-size: .8em;
  margin-top: 4px;
  font-style: italic;
}


.tc-point {
  text-align: right;
  font-size: 24px;
}

.tc-point .icon {
  zoom: 0.27;
}
.tc-point .icon.point {
  zoom: 0.2;
  margin-right: 3px;
}

.tc-point-inner {
  display: inline-block;
  border-left: 2px solid black;
  /* border-radius: 20px; */
  border-bottom: 2px solid black;
  border-bottom-left-radius: 15px;
  padding: 0px 5px 5px;
}
