.icon {
  display: inline-block;
  position: relative;
}
.icon img {
  height: 100px;
  position: relative;
}
.icon .number {
  font-size: 57px;
  display: inline-block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 9%;
  font-weight: 600;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.icon.draw .number {
  bottom: 17%;
}
.icon {
/*  max-height: 10px;*/
}

.icon {
  transform: translateY(10%);
}

.cost-resource {
  font-size: 30px;
  border-bottom: 2px dashed black;
}


.cost-resource .icon {
  zoom: .32;
/*  transform: translateY(10%);*/
  margin-left: 10px;
}

.tap {
  width: 100%;
/*  background: red;*/
  position: relative;
  margin-top: 10px;
/*  min-height: 43px;*/
  background-color: #ddd;
}

.tap-icon-container {
  width: 20%;
/*  background: green;*/

  padding-left: 5px;

  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.tap .icon {
  zoom: .25;
}

.tap-gain-container {
  font-size: 20px;
  width: 79%;
  height: 100%;
/*  position: absolute;*/
  margin-left: 20%;
/*  background: blue;*/
  display: inline-block;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-left: 1px solid black;
}

.passive-item {
  margin-top: 10px;
  padding: 3px 7px 5px;
  border-left: 10px solid;
/*  border-bottom: 1px solid;*/
/*  border-top: 1px solid;*/
}
.passive-item.invite {
  border-color: #fb5607;
  background-color: #fb560720;
}
.passive-item.recruit {
  border-color: #8338ec;
  background-color: #8338ec20;

}
.passive-item.construct {
  border-color: #5c8001;
  background-color: #5c800120;
}
.passive .icon {
  zoom: .2;
}
