.card {
  padding: 10px;
}
.card-container {
  position: absolute;
  bottom: 10px;
}


.cost {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}


.line {
/*  margin: 2px auto;*/
height: calc(1em - 3px);
}
.square {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  border: 3px solid black;
  text-align: center;
  margin: auto -1.5px;
}
.square.hidden {
  visibility: hidden;
}
.square span.icon {
  position: absolute;
}

.meat .square span.icon {
  bottom: .20em;
  left: 0.08em;
  color: purple;
  zoom: 90%;
  font-weight: 700;
}

.veggie .square span.icon {
  zoom: 120%;
  color: blue;
  font-weight: 700;
  bottom: 55%;
  left: .05em;
}

.carb .square span.icon {
  bottom: .28em;
  left: 0.05em;
  zoom: 80%;
  color: forestgreen;
  font-weight: 700;
}
.remove .square {
  background: repeating-linear-gradient(
    -45deg,
    rgba(255, 100, 100, 100%),
    rgba(255, 100, 100, 100%) 5px,
    transparent 5px,
    transparent 12px
  );
}

.shape-container {
  margin-top: 10px;
}

.resource-gain {
  height: 1.1em; 
}

.resource-gain.bonus.shown img.icon {
  filter: invert(18%) sepia(60%) saturate(3453%) hue-rotate(350deg) brightness(89%) contrast(86%);
}

.starter-card-player {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  border: 3px solid black;
  border-top-left-radius: 20px;
}

.money-icon {
  color: rgb(228, 155, 15);
  text-shadow: 1px 1px 1px #000;
/*  -webkit-text-fill-color: white;*/
/*  -webkit-text-stroke: 1px black;*/
}
