

.icon {
  max-width: 50px;
  max-height: 50px;
}

.icon.draw {
  width: auto;
  max-height: 40px;
  top: -4px;
  position: relative;
  margin: auto 7px;
}


.icon.point {
/*  margin-right: 7px;*/
  padding: 0 6px;
  zoom: 0.8;
}

.icon.wild {
  padding: 5px;
}

.cost {
  border-bottom: 1px solid black;
}
.cost .icon {
  zoom: .55;
  margin-right: -7px;
}
.tiebreaker {
  height: 0;
  position: absolute;
  font-size: 1.6em;
  margin-left: 12px;
  font-weight: bold;
}

.discount {
  margin-top: 10px;
}

.discount-group .icon {
  zoom: .8;
  margin-left: 5px;
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  padding: 4px;
  border-right: 2px solid white;
}
.discount-group:not(:first-child) {
  margin-bottom: 5px;
}



.activation {
/*  position: absolute;*/
  margin-top: 10px;
  padding: 3px 5px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.activation .icon {
  zoom: .7;
}

.activation .arrow-right {
  margin-right: 10px;
}

.activation .icon.draw:only-child {
  margin-top: 10px;
}


.storage {
  position: absolute;
  bottom: -4px;
  margin-left: 5px;
}

.storage .icon {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
/*  border: 2px solid #999;*/
  zoom: .7;
  margin-right: 10px;

}
.special {
  margin-top: 10px;
  background-color: #ddd;
/*  color: white;*/
  padding: 5px;
}

.special .icon.draw {
  zoom: 0.5;
  vertical-align: middle;
/*  filter: invert(1);*/
}

.special-produced {
  display: inline-block;
  background: rgb(200,200,200);
  background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(0,0,0,1) 100%);
  padding: 0 3px;
  font-weight: bold;
}

.special-discounted {
  background-color: black;
  border-radius: 4px;
  padding: 0 3px;
  font-weight: bold;
}

.time-passed-container {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 27px;
  transform: rotate(-90deg);
  margin-bottom: 8px;
  margin-right: -3px;
  font-family: monospace;
  background-color: white;
}
.time-passed-container .icon {
  zoom: .4;
  margin-right: 10px;
}


.character {
  padding: 10px 10px 0;
  font-size: 14px;
  background: rgb(255,255,255);
  
}
.character.character-type-one {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247, 218, 229,1) 100%);
}
.character.character-type-wild {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255, 242, 225,1) 100%);
}
.character.character-type-discount {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195, 226, 230,1) 100%);
}
.character.character-type-produce {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(208, 204, 224,1) 100%);
}

.character .icon {
  zoom: 0.4;
  vertical-align: text-bottom;
}
.character .icon.arrow-right {
  zoom: .4;
}
.character-action {
  font-weight: bold;
  background-color: #444;
  color: white;
  padding: 1px 3px;
  margin-right: 2px;
}

.character-grouping {
  margin-top: 4px;
}
.card hr {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.end-of-turn {
  padding: 0px 10px;
}
.end-of-turn .icon {
  zoom: 0.6;
  vertical-align: middle;
}

.rotate-icon {
  font-size: 29px;
  height: 0;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  bottom: 28px;
  margin: 0 3px;
  /* transform: rotate(177deg); */
  transform-origin: bottom;
}

.crowns {
  background-color: black;
  padding: 6px 9px 6px 3px;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
}

.wind-collection {
  right: 0;
  position: absolute;
  display: inline-block;
  margin-top: 0px;
  background-color: black;
  padding: 6px 3px 6px 9px;
  border-radius: 20px 0px 00px 20px;
}
.wind-collection .icon {
  zoom: 1.1;
}


.engine-side {
  position: relative;
  height: 70%;
  border-bottom: 3px solid white;
}

.purchase-side {
  border-top: 3px solid black;
  background-color: #333;
  height: 30%;
  position: relative;
}
.purchase-side .cost {
  border-bottom-color: #aaa;
}

.purchase-side .cost .icon {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1)) drop-shadow(0px -1px 3px rgba(255, 255, 255, 1));
}

.purchase-power {
  display: inline-block;
  color: rgb(144, 238, 144);
  position: absolute;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.purchase-power-summary {
  color: white;
  top: 4px;
  right: 4px;
  position: absolute;
}

.first-purchase-power {
  transform: rotate(-90deg);
  position: absolute;
  left: 8px;
  top: 43px;
  border-bottom: 2px solid white;
}

.second-purchase-power {
  bottom: -3px;
  transform: rotate(180deg) translateX(50%);
  left: 50%;
  border-bottom: 2px solid white;
}

.third-purchase-power {
  right: 13px;
  top: 40px;
  transform: rotate(90deg);
/*  left: 50%;*/
  border-bottom: 2px solid white;
}

.purchase-power-border-container {
  margin-bottom: 2px;
  border-bottom: 2px solid white;
}

.point-cost {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(144, 238, 144);
  padding: 6px 8px;
  font-weight: bold;
}

