

.icon {
  max-width: 50px;
  max-height: 50px;
}

.icon.draw {
  width: auto;
  max-height: 40px;
  top: -4px;
  position: relative;
  margin: auto 7px;
}


.icon.point {
/*  margin-right: 7px;*/
  padding: 0 6px;
  zoom: 0.8;
}

.icon.wild {
  padding: 5px;
}

.cost {
  border-bottom: 1px solid black;
}
.cost .icon {
  zoom: .55;
  margin-right: -7px;
}

.discard .icon {
  zoom: .55;
  filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}
.discard {
  position: absolute;
  display: inline-block;
  padding-left: 2px;
  top: 0;
  right: 0;
/*  background-color: #444;*/

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}



.point-container {
  margin-top: 15px;
}

.discount {
  margin-top: 15px;
}

.discount-group .icon {
  margin-left: 5px;
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  padding: 4px;
  border-right: 2px solid white;
}
.discount-group:not(:first-child) {
  margin-bottom: 5px;
}



.activation {
/*  position: absolute;*/
  margin-top: 20px;
  padding: 3px 5px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.activation .icon {
  zoom: .8;
}

.activation .arrow-right {
  margin-right: 10px;
}

.activation .icon.draw:only-child {
  margin-top: 10px;
}


.storage {
  position: absolute;
  bottom: -4px;
  margin-left: 5px;
}

.storage .icon {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
/*  border: 2px solid #999;*/
  zoom: .8;
  margin-right: 10px;

}
.special {
  margin-top: 15px;
  background-color: #444;
  color: white;
  padding: 5px;
}

.special-produced {
  display: inline-block;
  background: rgb(200,200,200);
  background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(0,0,0,1) 100%);
  padding: 0 3px;
  font-weight: bold;
}

.special-discounted {
  background-color: black;
  border-radius: 4px;
  padding: 0 3px;
  font-weight: bold;
}

.time-passed-container {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 27px;
  transform: rotate(-90deg);
  margin-bottom: 8px;
  margin-right: -3px;
  font-family: monospace;
  background-color: white;
}
.time-passed-container .icon {
  zoom: .4;
  margin-right: 10px;
}


.character {
  padding: 10px 10px 0;
  font-size: 14px;
  background: rgb(255,255,255);
  
}
.character.character-type-one {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247, 218, 229,1) 100%);
}
.character.character-type-wild {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255, 242, 225,1) 100%);
}
.character.character-type-discount {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195, 226, 230,1) 100%);
}
.character.character-type-produce {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(208, 204, 224,1) 100%);
}

.character .icon {
  zoom: 0.4;
  vertical-align: text-bottom;
}
.character .icon.arrow-right {
  zoom: .4;
}
.character-action {
  font-weight: bold;
  background-color: #444;
  color: white;
  padding: 1px 3px;
  margin-right: 2px;
}

.character-grouping {
  margin-top: 7px;
}

.crowns {
  background-color: black;
  padding: 6px 9px 6px 3px;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
}

.wind-collection {
  right: 0;
  position: absolute;
  display: inline-block;
  margin-top: 0px;
  background-color: black;
  padding: 6px 3px 6px 9px;
  border-radius: 20px 0px 00px 20px;
}
.wind-collection .icon {
  zoom: 1.1;
}
