/* https://codepen.io/sosuke/pen/Pjoqqp */

html {
  font-size: 100%;
/*  font-size: 16px;*/
}

.card {
  /* 63 x 88 */
  width: 63mm;
  max-width: 63mm;
  height:  88mm;
  max-height:  88mm;
  border: 5px solid black;
  border-top-width: 8px;
  
  padding-left:  0px;
  display:  inline-block;
  vertical-align: bottom;
  position: relative;

  overflow-wrap: break-word;

  /* 0.5px for printing */
  margin:  10px;
}

.contract {
  width: 88mm;
  max-width: 88mm;
  height:  63mm;
  max-height:  63mm;
}


@media print {
  .card {
    margin: 1px;
  }
}
/*
spot: purple - 6B0EA1
home: orange. - b35500
tap: yellow. - B3A500
*/

.card.spot {
  border-top-color: #6B0EA1;
}
.card.home {
  border-top-color: #b35500;
}
.card.tap {
  border-top-color: #B3A500;
}

/******* vvv ICONS ************/
/******* vvv ICONS ************/
/******* vvv ICONS ************/
.icon {
  height: 2rem;
}

.icon.card-icon {
  margin: auto 0.1rem;
  zoom: .95;
}
.icon.wildsame {
  position: relative;
  display: inline-block;
}
.icon.wildsame > img {
  height: 2rem;
}

.wildsame-equal-sign {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, 0%);
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,40%));
  font-size: 1.6rem;
}
span:last-child .wildsame-equal-sign {
  display: none;
}

.icon.untap {
/*  zoom: 1.3;*/
/*  width: auto;*/
}

.icon.tapanother {
/*  zoom: 1.1;*/
/*  display: inline-block;*/
/*  position: relative;*/
}
/*.icon.tapanother > img.main-icon {
  height: 2rem;
}
.icon.tapanother img.tap-nested {
  height: .9rem;
  position: absolute;
  left: 17%;
  top: 40%;
}
*/
.icon.text-icon {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.15rem;
  border: 2px solid rgba(0,0,0,25%);
  border-radius: 0.4rem;
}
.icon.text-icon .text-icon-content {
  float: right;
}
.loss .icon.text-icon {
  background-color: rgba(255,255,255,80%);
  bottom: auto;
}

.icon.text-icon .wind {
  vertical-align: text-bottom;
  height: 80%;
  transform: translateY(-10%);
  margin-right: 0.2rem;
}

.icon.chain {
  display: inline-block;
  padding: 0.13rem 0.13rem 0;
  border: 2px solid rgba(0,0,0,15%);
  border-radius: 0.3rem;
}
.icon.chain img {
  height: 1.5rem;
  float: left;
}
.icon.chain .chain-level {
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  bottom: 0.15rem;
  margin-left: 0.1rem;
}

.gain-family .icon {
  box-shadow: 1.2px 1.2px 1.2px rgba(0,0,0,60%);
}
.gain-family img.icon {
  box-shadow: none;
  filter: drop-shadow(1.2px 1.2px 1.2px rgba(0,0,0,60%)); 
}

/*************************/
/* icon sizes in different contexts */

.type .icon {
  zoom: 0.9;
}
.cost .icon {
  zoom: .65;
}

/******* ^^^ ICONS ************/
/******* ^^^ ICONS ************/
/******* ^^^ ICONS ************/

.type {
  padding: 5px 10px;
  position: relative;
}
.point-generator .type {
  background-color: #ccc;
}


.level {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  position: relative;
  bottom: 0.15rem;
  left: 0.2rem;
  height: 0;
}

.points-on-card {
  font-size: 1.6rem;
  top: 0;
  right: 0;
  position: absolute;
  margin: 0.4rem;
}
.points-on-card > .negative {
  color: rgba(150, 0, 0, 100%);
}

.cost {
  padding: 0.3rem;
  border-top: 1px dotted black;
  border-bottom: 3px solid black;
}
.resource-cost-group {
  margin-right: 0.2rem;
}
/*.resource-cost-group.wildsame {
  border-bottom: 2px solid rgba(0,0,0,30%);
  padding: 0 .1em;
  border-radius: .3em;
  display: inline-block;
}*/



.effect {
  position: absolute;
  bottom: 0;
}

.effect .gain-family {
  display: inline-block;
  margin-right: 0.6em;
}
.loss {
  margin: 10px;
  padding: 5px;
  background: repeating-linear-gradient(
    45deg,
    rgba(200, 0, 0, 20%),
    rgba(200, 0, 0, 20%) 3px,
    transparent 3px,
    transparent 6px
  );
  border: 2px solid rgba(200, 0, 0, 40%);
  display: inline-block;
}
.gain {
  /*display: inline-block;*/
  margin: 10px;
}


.retrieve {
  /*margin: auto 5px;*/
  display: inline-block;
}

.gain-family .icon.with-shadow {
/*  filter: drop-shadow(1.2px 1.2px 1.2px rgba(0,0,0,60%));*/
}



.later-resources-group {
  margin-bottom: 12px;
  position: relative;
  padding: 0rem 0.3rem 0.1rem;
  border: 1px solid rgba(0,0,0,15%);
  border-radius: 0.4rem;
  zoom: 0.8;
}
.later-colon {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  vertical-align: text-bottom;
}

.anytime-container {
  margin: 10px 10px;
}
.anytime-arrow {
  font-size: 2em;
  display: inline-block;
  bottom: 0.1em;
  position: relative;
}
.anytime-row {
  margin-top: 0.4em;
  zoom: .87;
}
.anytime-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}


.contract {
  font-size: 1em;
}
.contract-type {
  font-size: 3em;
  margin-top: 0.1em;
  margin-left: 0.1em;
}
.contract .icon {
/*  height: 1em;*/
/*  width: 1em;*/
}
.contract-type-text {
  bottom: 0.1em;
  margin-left: 0.1em;
  position: relative;
} 
.contract .cost .icon {
/*  height: 2em !important;*/
/*  width: 2em !important;*/
}



/*.tag-container {
  border: 1px solid black;
  border-radius: 0.5em 0.5em 0 0;
  height: 4em;
  width: 2em;
  background-color: black;
}
.tag-in-corner {
  position: absolute;
  bottom: -1px;
  left: 1em;
}
.tag-in-corner:nth-child(2) {
  left: 4em;
}
.tag-single {
  font-size: 1.3em;
  margin-left:0;
  transform: translate(15%, 80%);
  position: relative;
}
.tag-single .icon {
  filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 90%));  
}

.tag-container.tag-in-conditional {
  background-color: rgba(50,50,50,100%);
  height: 3em;
  display: inline-block;
  zoom: .4;
  position: relative;
  bottom: 1em;
}
.tag-in-conditional > .tag-single {
  transform: translate(15%, 40%);  
}*/


.conditional-top-container {
  margin: .2em;
  font-size: 2em;
}
.conditional-top-container .icon {
  height: 1em !important;
  width: 1em !important;
  transform: translateY(18%);
}
.conditional-card-text {
  display: inline-block;
  margin-left: .1em;
  padding: 0 .2em;
  border-bottom: 2px solid rgba(0,0,0,30%);
  border-radius: .2em;
}

.resource-icon-container {
  position: relative;
}

.amount-text {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-weight: 650;
  transform: translate(-50%, -25%);
  bottom: 0;
  left: 50%;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, .5px .5px #000, -.5px -.5px #000, .5px -.5px #000, -.5px .5px #000;
}
