.icon {
  max-width: 1em;
  max-height: 1em;
  width: 1em;
}

.icon.attack {
  transform: rotate(-90deg);
  width: .8em;
  height: .8em;
  margin-top: -.125em;
}
.icon.attack path {
  fill: rgba(85, 0, 3, 1);
}

.icon.defense {
  margin-bottom: -0.13em;
}
.icon.defense path {
  fill: rgba(0, 17, 85, 1);
}

.icon.energy {
  width: 2em;
  top: 0.1em;
  position: relative;
}
.icon.ahead {
  width: 1em;
  height: 1em;
  transform: rotate(180deg);
  margin-bottom: -0.05em;
}
.icon.behind {
  width: 1em;
  height: 1em;
  margin-bottom: -.125em;
}
.icon.range {
  width: 0.9em;
  margin-bottom: -0.15em;
}
.icon.twice {
  margin-bottom: -0.05em;
}
.icon.lethal {
  margin-bottom: -0.12em;
}
.icon.recruit {
  vertical-align: middle;
}
.icon.train {
  vertical-align: middle;
}
.icon.to-direction {
  vertical-align: middle;
}
.icon.deck {
  vertical-align: middle;
}
.icon.in-order-to {
  margin-bottom: -0.075em;
}
.icon.in-order-to {
  width: .8em;
}
.icon.discard {
  margin-bottom: -0.205em;
  margin-left: -0.2em;
  zoom: 1.1;
}
.icon.hand {
  margin-bottom: -.1em;
}
.icon.draw-card {
  zoom: 1.2;
  margin-bottom: -0.15em;
}
.icon.deploy {
  width: .73em;
  margin: 0 0.1em;
}
.icon.life {
  margin-right: 0.07em;
  margin-bottom: -0.15em;
}
.icon.quick {
  margin-bottom: -0.3em;
  zoom: 1.2;
}
.icon.tough {
  vertical-align: middle;
  zoom: 1.15;
}
    
