@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  -webkit-print-color-adjust:exact;
  -webkit-filter:opacity(1);
}
* {
  /*vertical-align: bottom;*/
}

:root {
  --card-width: 63mm;
  --card-height: 88mm;
  --card-border-width: 6px;
  --ally-bonus-width: 15mm;

  /*colors*/
  --red-blue-gradient: rgba(255,100,100,1) 0%,
    rgba(100,0,0,1) 30%,
    rgba(0,0,0,1) 40%,
    rgba(0,0,10,1) 50%,
    rgba(100,100,255,1) 100%;
}

.card {
  /* 63 x 88 */
  width: var(--card-width);
  max-width: var(--card-width);
  height:  var(--card-height);
  max-height:  var(--card-height);
  /*border:  0mm solid black;*/
  padding-left:  0px;
  display:  inline-block;
  vertical-align: bottom;
  position: relative;
  font-size: 7mm;
  font-family: 'Roboto Slab', serif;

  border: var(--card-border-width) solid black;
  /* thickness consistent, but will be changed depending on the type and race */

  /*so that \n triggers a new line*/
  white-space: pre-wrap;

  /*0.5px for printing, 1.0px for coding*/  
  margin:  10px;
}

@media print {
  .card {
    margin:  0.5px;  
  }
}


.card.ally {
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}
.card.agent {
  border-image: linear-gradient(
    to right,
    var(--red-blue-gradient)
  ) 1;
}
.card.ally {
  border-image: linear-gradient(
    to top,
    var(--red-blue-gradient)
  ) 1;
}

.cost-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--ally-bonus-width);
  text-align: center;
  padding: 5px 4px 5px 0;
  border-radius: 0 10px 10px 0;
  background-color: black;
  color: white;
  font-weight: 600;
}
.cost-container .icon.discard path {
  fill: white;
}
.cost-container .icon.deploy path {
  fill: white;
}
.card.mecha .cost-container {
  border: 0px solid black;
  background: linear-gradient(135deg, rgba(20,0,30,1) 0%, rgba(30,10,70,1) 31%, rgba(200,70,200,1) 100%);  
}

.agent-top {
  position: relative;
  width: 100%;
  height: calc(var(--card-height)
    - var(--card-width)
    - var(--card-border-width)
  );
  /*background-color: red;*/
  border-bottom: 6px solid black;
  border-image: linear-gradient(
    to right,
    rgba(255,100,100,1) 0%,
    rgba(100,0,0,1) 30%,
    rgba(0,0,0,1) 40%,
    rgba(0,0,10,1) 50%,
    rgba(100,100,255,1) 100%
  ) 1;
}
.agent-attack {
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: center;
  border-right: 1px solid black;
  border-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 3%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 97%
  ) 1;
}
.agent-defense {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  text-align: center;
  border-left: 1px solid black;
  border-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 3%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 97%
  ) 1;
}
.agent-effect-container {
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  text-align: center;
  position: relative;
}
.agent-effect-text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ally-effect {
  width: calc(
    var(--card-width)
    - var(--card-border-width)*2
    - var(--ally-bonus-width)
    - 20px
  );
  position: absolute;
  right: 0;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}
.card.ally.mecha .ally-effect {
  padding: 5px;
  font-size: .5em;
}

.race-and-type {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
