/* attack red: rgba(85, 0, 3, 1) */
/* defense red: rgba(0, 17, 85, 1) */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  -webkit-print-color-adjust:exact;
  -webkit-filter:opacity(1);
}
* {
  /*vertical-align: bottom;*/
}
.card {
  /* 63 x 88 */
  width: 63mm;
  max-width: 63mm;
  height:  88mm;
  max-height:  88mm;
  /*border:  0mm solid black;*/
  padding-left:  0px;
  display:  inline-block;
  vertical-align: bottom;
  position: relative;
  font-size: 7mm;
  font-family: 'Roboto Slab', serif;
  /*font-family: serif;*/

  /*so that \n triggers a new line*/
  white-space: pre-wrap;

  /*0.5px for printing, 1.0px for coding*/  
  margin:  10px;
}

@media print {
  .card {
    margin:  0.5px;  
  }
}


.icon {
  max-width: 1em;
  max-height: 1em;
}

.icon.attack {
  transform: rotate(-90deg);
  width: .8em;
  height: .8em;
  margin-top: -.125em;
}
.icon.attack path {
  fill: rgba(85, 0, 3, 1);
}

.icon.defense {
  width: .8em;
  height: .8em;
  /*transform: scaleX(1.3);*/
  margin-bottom: -.02em;
}
.icon.defense path {
  fill: rgba(0, 17, 85, 1);
}

.icon.energy {
  width: 2em;
  top: 0.1em;
  position: relative;
}
.icon.ahead {
  width: 1em;
  height: 1em;
  transform: rotate(180deg);
  margin-bottom: -0.05em;
}
.icon.behind {
  width: 1em;
  height: 1em;
  margin-bottom: -.125em;
}
.icon.range {
  width: 0.9em;
  margin-bottom: -0.15em;
}
.icon.twice {
  margin-bottom: -0.05em;
}
.icon.lethal {
  width: 0.8em;
}
.icon.recruit {
  width: 0.8em;
  margin-bottom: -0.05em;
}
.icon.train {
  width: 0.8em;
  margin-right: 0.075em;
}
.icon.to-direction {
  vertical-align: middle;
}
.icon.deck {
  vertical-align: middle;
}
.icon.in-order-to {
  margin-bottom: -0.075em;
}
.icon.in-order-to {
  width: .8em;
}
.icon.discard {
  margin-bottom: -.125em;
  transform: scaleX(-1);
}
.icon.hand {
  margin-bottom: -.1em;
}
.icon.draw-card {
  margin-bottom: -.08em;
  transform: scaleX(1.15);
}
.icon.deploy {
  width: .73em;
  margin: 0 0.1em;
}

.trained {
  color: red;
  font-weight: bold;

  /*display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  width: 1em;
  background-color: hsla(202deg, 93%, 45%, .3);
  text-align: center;*/
}

.top {
  height: 24.5mm;
  /*background-color: red;*/
  border: 2px solid black;
  margin-bottom: 0.5mm;
  text-align: center;
  position: relative;
}

.base-attack {
  /*padding-left: 1mm;*/
  display: inline-block;
  width: 25%;
  height: 100%;
  color:  rgba(85, 0, 3, 1);
  border-right: 2px solid rgba(85, 0, 3, .1);
}
.base-value {
  letter-spacing: -.05em;
}

.agent-effect {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  width: 50%;
  text-align: center;
}

.agent-type {
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-size: .3em;
  border-top: 1px solid;
  border-image: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 30%,
      gray 50%,
      rgba(0, 0, 0, 0) 70%
    ) 1;
}

.base-defense {
  display: inline-block;
  /*padding-right: 2mm;*/
  color: rgba(0, 17, 85, 1);
  width: 25%;
  height: 100%;
  border-left: 2px solid rgba(0, 17, 85, .1);
}
.base-defense-icon-container {
  
}

.middle {
  height: 38mm;
  /*background-color: blue;*/
  border: 2px solid black;
  margin-bottom: 0.5mm;
  position: relative;
}
.card-name {
  display: inline-block;
  top: 0;
  right: 0;
  margin-right: 10px;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-container > img {
  width: 100%;
  margin-top: -48px;
}

.energy-container {
  display: inline-block;
  padding: 3px 5px;
  top: 0;
  position: absolute;
  /*background-color: rgba(255, 255, 255, .3);*/
  /*background-color: white;*/
  border-radius: 0 0 15px 0;
  box-shadow: 1px 1px 1px 1px rgb(60 60 60 / 40%);

  background-color: #222;
  /*background-color: black;*/
  color: white;
}
.card.mecha .energy-container {
  background-color: rgb(2,0,34);
  background: linear-gradient(-45deg, rgba(2,0,34,1) 0%, rgba(9,9,121,1) 31%, rgba(0,138,166,1) 100%);  
}
.energy-container .icon.energy path {
  fill: white;
}
.energy-container .icon.deploy path {
  fill: white;
}


.serial-number {
  position: absolute;
  font-size: .3em;
  right: 0;
  top: 0;
  margin: 3px 5px;
}


.bottom {
  height: 24.5mm;
  border: 2px solid black;
  text-align: center;
  position: relative;
  /*background-color: green;*/
}

.ally-type {
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-size: .3em;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0) 5%,
      gray 50%, 
      rgba(0, 0, 0, 0) 95%
    ) 1;
}

.ally-effect {
  padding: 15px 10px;
  position: relative;
}
.ally-effect.with-defense-bonus {
  width: 75%;
}
.ally-effect.with-attack-bonus {
  width: 75%;
  margin-left: 25%;
}

.ally-effect-mecha {
  /*font-size: 30px;*/
  line-height: .1;
}

.ally-bonus {
  background-color: white;
  width: 25%;
  height:  calc(24.5mm + 63mm/4);
  position: absolute;
  border: 2px solid black;
  /*outline: 2px solid white;*/
  /*box-shadow: 0 0 3px 2px white;*/
  
  border-radius: 50px 50px 0 0;
  bottom: 0;
}
.ally-bonus.defense-bonus {
  right: 0;
  box-shadow: -0.5px -1px 0px 1px white;
}

.ally-bonus.attack-bonus {
  left: 0;
  box-shadow: 0.5px -1px 0px 1px white;
}

.bonus-icon-attack-container, .bonus-icon-defense-container {
  height: calc(63mm / 4);
  width: 100%;
}
.bonus-icon-attack {
  display: inline-block;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
  padding-left: 26%;
  margin: 0 0;
  padding-top: 25%;
  border-left: 1px solid gray;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0) 10%,
      gray 50%, 
      rgba(0, 0, 0, 0) 90%
    ) 1;
}
.bonus-icon-defense {
  display: inline-block;
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  padding-left: 27%;
  margin: 0 0;
  padding-top: 21%;
  border-right: 1px solid gray;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0) 10%,
      gray 50%, 
      rgba(0, 0, 0, 0) 90%
    ) 1;
}

.bonus-text-attack-container, .bonus-text-defense-container {
  height: calc(100% - 63mm/4);
  position: relative;
}

.bonus-text-defense-title {
  transform: rotate(90deg);
  position: absolute;
  font-size: .25em;
  text-align: center;
  bottom: 41px;
  left: -40px;
  width: 24.5mm;
  border-top: 1px solid gray;
  border-image: 
    linear-gradient(
      to left, 
      rgba(0, 0, 0, 0) 10%,
      gray 50%,
      rgba(0, 0, 0, 0) 90%
    ) 1;
}
.bonus-text-attack-title {
      transform: rotate(-90deg);
    position: absolute;
    font-size: .25em;
    text-align: center;
    /* bottom: 41px; */
    bottom: 40px;
    left: 3px;
    /* left: -40px; */
    width: 24.5mm;
    border-top: 1px solid gray;
    border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 10%,
      gray 50%,
      rgba(0, 0, 0, 0) 90%
    ) 1;
}

.bonus-text-attack {
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 12px;
  left: -19px;
  padding-top: 8px;
  width: 24.5mm;
  height: calc(63mm /4);
}
.bonus-text-defense {
  transform: rotate(90deg);
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 15px;
  left: -18px;
  padding-top: 8px;
  width: 24.5mm;
  height: calc(63mm /4);
}


.ally-bonus-text {
  /*display: inline-block;*/
  /*width: 24mm;*/
}


/* -------------- WARDEN ----------------------*/
/* -------------- WARDEN ----------------------*/
.warden-card {
  border: 10px solid black;
  font-size: 1.05em;
  padding: 10px;
}
.warden-name {
  text-align: center;
  letter-spacing: 1.2;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 1.2em;
  border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      gray 50%,
      rgba(0, 0, 0, 0) 100%
    ) 1;
}
.warden-trigger-title {
  text-align: center;
}
.warden-trigger {
  margin-bottom: 20px;
}
.warden-effect-title {
  text-align: center;
  font-size: 1.5em;
}

/* ---------- ICON SUMMARY ---------- */
/* ---------- ICON SUMMARY ---------- */
.card.rules {
  border: 3px solid blue;
  padding: 5px;
  font-size: .635em;
}
.icon-description {
  /*font-size: .3em;*/
}
.rules-table {
  border-spacing: 0;
}
.rules-table td {
  border-top: .1px solid black; 
  border-left: .1px solid black;
  padding: 0 2px;
  margin: 0;
}
.rules-table td:first-child {
  text-align: center;
}

/* ---------- ALWAYS AVAILABLE ---------- */
/* ---------- ALWAYS AVAILABLE ---------- */
.card.always-available {
  border: 3px solid red;
  padding: 10px;
  font-size: 1.9em;
}
.always-available-title {
  text-align: center;
}
